extends ../layout

block content
  .container
    h1.page-header= post.title
    p
      b 작성자: #{post.email}
      | 
      span | 작성일: #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{post.read})
      | 
      a.btn.btn-default(href='/posts/#{post.id}?_method=DELETE') 삭제
      
    ul
      li 설명: #{post.content}
      li 도시: #{post.city} 
      li 주소: #{post.address} 
      li 숙소요금: #{post.charge} 
      li 편의시설: #{post.facility} 
      li 이용규칙: #{post.rule}
    hr

    each reply in replys
      b #{reply.email}
      | 
      span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      p
      .row
        .col-md-11
          p= reply.content
        .col-md-1
          a.btn.btn-danger.btn-block(href='/posts/#{reply.id}/reply?_method=DELETE') 삭제
      hr
    form(action="/posts/#{post.id}/reply", method='POST')
      .row
        p (Checkin 날짜, Checkout 날짜, 숙박인원 순으로)
        .col-md-10.form-group
          textarea.form-control(rows='1', name='reply')
        .col-md-2
          button.btn.btn-primary.btn-block(type='submit') 예약
    
    a.btn.btn-default(href='/posts') 목록
