extends ../layout

block content
  .container
    h1.page-header= post.title
    p
      b 작성자: #{post.email}
      | 
      span | 작성일: #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{post.read})
      | 
      a.btn.btn-default(href='/posts/#{post.id}?_method=DELETE') 삭제
      
    
    ul
      li 설명: #{post.content}
      li 도시: #{post.city} 
      li 주소: #{post.address} 
      li 숙소요금: #{post.charge} 
      li 편의시설: #{post.facility} 
      li 이용규칙: #{post.rule}
    hr
